{% extends 'base.html' %}
{% block title %}Timshail{% endblock %}


   
<body>

  <main>{% block content %}
    {% include 'serviceindex.html' %}
<a href="/cus">test</a>
<a href="/ser">test</a>
<a href="/userdashboard">Dashboard</a>
<a href="/login">login</a>
<a href="/oktest">Starttesthere</a>
<br>
<br>
<div class="content"> 
  <a href=""> Dashboard</a>
</div>
    {% endblock %}</main>
    <!-- End Sevices Section -->
    <!--Scripts Section-->
<!-- SERVICES SECTIONS JS-->





   

      <!-- End Stats Item -->
    <!-- </main> -->

  
  </body>
</html>
